TODO.txt
output/old_GWBs/*
output/GWBs/*.txt
src/modules/__pycache__/*
doc/latex/*
!doc/latex/refman.pdf
data/**/*.txt
data/**/*.dat
data/z_at_age.txt
post_proc/old.ipynb
post_proc/test.ipynb
testing/*
